*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mother-div{
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    margin-top: 20px;
    
}
.first-div{
    width: 10%;
    height: 100%;
    /* background-color: rgb(255, 217, 0); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

.good-div{
    height: 40px;
    width: 40px;
}
    
}
.second-div{
    width: 40%;
    height: 100%;
    /* background-color: rgb(132, 0, 255); */
    display: flex;
    
}

.second-div ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}
.second-div ul li{
    display: flex;
    text-decoration: none;
    
}
.second-div ul li a{
    /* display: flex; */
    text-decoration: none;
}

.third-div{
    width: 35%;
    height: 100%;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boy{
    width: 50%;
    height: 75%;
    background-color: rgba(211, 211, 211, 0.322)     ;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
}

.small-a{
    width: 20%;
    height: 75%;
    background-image: url(pics.jpg);
    /* background-color: rgb(255, 0, 149); */
    border-radius: 120px;
}

.small-b{
    width: 75%;
    height: 75%;
    background-color: rgba(211, 211, 211, 0);
    border-radius: 30px;
    border: none;
    outline: none;
}


.son{
    width: 25%;
    height: 75%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    
}

.line2{
    margin-left: 150px;
}

.pixel{
    height: 500px;
    width: 1000px;
    margin-left: 180px;
    border-radius: 15px;
}

.second{
    /* background-color: aqua; */
    height: 60px;
    width: 60%;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    padding-inline: 150px;
}

.img1, .img2, .img3, .img4, .img5{
    height: 80%;
    width: 15%;
    border-radius: 10px;
    
}

.htag{
    width: 100%;
    height:700px;
    background-color: rgba(0, 255, 255, 0.082);
    padding-left: 500px ;

}

.htag label, input, select, button{
  font-size: 20px;

}

.john{
    width: 65%;
    height: 300px;
    /* background-color: aquamarine; */
    margin-left: 250px;
}

.john h2, h5{
    text-align: center;
    line-height: 30px;
}

.word{
    /* background-color: lightgray; */
    width: 70%;
    height: 400px;
    margin-left: 200px;
    margin-top: 70px;
}

.word .child{
    text-align: center;
    font-size: 70px;
    line-height: -20px;

}

.word .children{
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}

.word .butt{width: 10%;
    height: 10%;
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 430px;
    
}


